[submodule "data/__common__/stdlib"]
	path = data/__common__/stdlib
	url = https://github.com/driftwoodwg/stdlib
	branch = master
[submodule "data/blue"]
	path = data/blue
	url = https://github.com/driftwoodwg/blue
	branch = master
[submodule "data/uitest"]
	path = data/uitest
	url = https://github.com/driftwoodwg/uitest
	branch = master
