[submodule "data/__common__/stdlib"]
	path = data/__common__/stdlib
	url = https://github.com/Driftwood2D/stdlib
	branch = master
[submodule "data/blue"]
	path = data/blue
	url = https://github.com/Driftwood2D/blue
	branch = master
[submodule "data/uitest"]
	path = data/uitest
	url = https://github.com/Driftwood2D/uitest
	branch = master
[submodule "docsrc"]
	path = docsrc
	url = https://github.com/Driftwood2D/docsrc
	branch = master
[submodule "data/__common__/Folkdance"]
	path = data/__common__/Folkdance
	url = https://github.com/Driftwood2D/Folkdance
[submodule "data/__common__/Lightshow"]
	path = data/__common__/Lightshow
	url = https://github.com/Driftwood2D/Lightshow
